@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
:root {
    --background: #FFFFFF;
    /* --background2: #e5e8ea; */
    --background2: #f3f3f3;
    --font-color: #000000;
    --detalle: #c093ff;
    --detalle2: #8e3eff;
}

body {
    margin: 0;
    padding: 1em;
    background-color: var(--background);
    font-family: "Montserrat", sans-serif;
    color: var(--font-color);
    font-size: 1em;
}

.detalle {
    color: var(--detalle)
}

.detalle2 {
    color: var(--detalle2)
}

.divisor {
    margin: 1.5em auto;
    width: 20em;
    background-color: var(--detalle2);
}

.nombre {
    font-weight: bold;
    font-size: 5em;
    word-spacing: -0.44em;
}

.tagline {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: -0.5em;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}


/* Card */

.card-img-overlay {
    background-color: rgb(0, 0, 0, 0.73);
}

.card {
    color: var(--background);
}

.card-link {
    font-weight: bold;
    color: var(--detalle);
}

.card-link:hover {
    color: var(--detalle2);
}

.card-title {
    color: var(--detalle);
    font-weight: bold;
    font-size: 1.7em;
}

.card-text {
    font-size: 1.1em;
}


/* navbar */

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--background);
    background-color: var(--detalle2);
    border-radius: 1em;
    padding: 0.5em;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--detalle);
}

.cajaTexto {
    /* background-color: var(--background2); */
    border-radius: 1em;
    padding: 1em;
    font-size: 1.2em;
    box-shadow: 0.2em 0.2em 0em 0em var(--detalle);
    margin: 1em 1em;
}

.cajaImg {
    text-align: center;
    margin: auto auto;
}

.tituloSeccion {
    color: var(--detalle2);
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.tituloSubSeccion {
    color: var(--detalle2);
    font-weight: bold;
    font-size: 1.3em;
    /* text-align: center; */
}

.cajaImg>img {
    width: 100%;
    max-width: 30em;
    border-radius: 0.5em;
}

.card-img-top {
    width: 100%;
}

.lista>li,
.listaP>li {
    list-style: none;
    /* display: inline-block; */
    background-color: var(--detalle2);
    margin: 0.1em 0.2em;
    padding: 0.2em;
    border-radius: 0.5em;
    color: var(--background);
    /* max-width: 15em; */
    font-weight: 600;
}


/* .listaP>li {
    list-style: none;
    /* display: inline-block; */

background-color: var(--detalle2);
margin: 0.1em 0.2em;
padding: 0.2em;
border-radius: 0.5em;
color: var(--background);

/* max-width: 15em; */

font-weight: 600;

}
*/ .listaP,
.lista {
    padding: 0;
}