@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
:root {
    --background: #edf0f1;
    --background2: #e5e8ea;
    --font-color: #2a2c32;
    --detalle: #c093ff;
    --detalle2: #8e3eff;
}

body {
    margin: 0;
    padding: 1em;
    background-color: var(--background);
    font-family: "Montserrat", sans-serif;
    color: var(--font-color);
    font-size: 1em;
}

.nombre {
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-weight: bold;
}

.detalle {
    color: var(--detalle)
}

.detalle2 {
    color: var(--detalle2)
}

.tagline {
    font-size: 1.5em;
}

.divisor {
    margin: 1.5em auto;
    width: 20em;
    background-color: var(--detalle2);
}

.card-img-overlay {
    background-color: rgb(0, 0, 0, 0.75);
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

.card {
    color: var(--background);
}

.card-link {
    font-weight: bold;
    color: var(--detalle);
}

.card-link:hover {
    color: var(--detalle2);
}

.card-title {
    color: var(--detalle);
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--detalle2);
    background-color: var(--background2);
    border-radius: 1em;
    padding: 0.5em;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--detalle);
}

.rowPar {
    background-color: var(--background2);
    border-radius: 1em;
    padding: 1em;
}

.imgBox {
    /* max-width: 90%; */
    max-width: 9em;
}

.lista>li {
    margin: 0em;
    padding: 0;
    font-size: 1.1em;
}

.lista {
    margin: 0em;
    border-radius: 1em;
}

p {
    font-size: 1.2em;
}