@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --background: #edf0f1;
    --font-color: #2a2c31;
    --detalle: #ab7cf6;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: "Montserrat", sans-serif;
    color: var(--font-color);
}

.nombre {
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.tagline {
    font-size: 1.5em;
}

.divisor {
    margin: 1.5em auto;
    width: 20em;
}

.card-img-top {
    filter: brightness(30%);
}

.tituloCard {
    color: var(--detalle);
}

.card {
    color: var(--background);
}

.card:hover {
    cursor: pointer;
}